{% extends "main.html" %}
{% block tabs %}
  {{ super() }}

  <style>

    /* Application header should be static for the landing page */
    .md-header {
      position: initial;
    }

    /* Remove spacing, as we cannot hide it completely */
    .md-main__inner {
      margin: 0;
    }

    /* Hide main content for now */
    .md-content {
      display: none;
    }

    /* Hide table of contents */
    @media screen and (min-width: 60em) {
      .md-sidebar--secondary {
        display: none;
      }
    }

    /* Hide navigation */
    @media screen and (min-width: 76.25em) {
      .md-sidebar--primary {
        display: none;
      }
    }
  </style>

  <!-- Hero for landing page -->
  <section class="mdx-container">
    <div class="md-grid md-typeset">
      <div class="mdx-hero">

        <!-- Hero image -->
        <div class="mdx-hero__image">
          <script id="asciicast-348204" src="https://asciinema.org/a/348204.js"
            async data-autoplay="true" data-loop="true" data-rows="30"></script>
        </div>

        <!-- Hero content -->
        <div class="mdx-hero__content">
          {{ page.content }}
          <p>{{ config.site_description }}. Set up in 5 minutes.</p>
          <a
            href="{{ page.next_page.url | url }}"
            title="{{ page.next_page.title | e }}"
            class="md-button md-button--primary"
          >
            Quick start
          </a>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
{% block content %}{% endblock %}
{% block footer %}{% endblock %}
