{% extends "main.html" %}
{% block content %}

  <style>
    .overview {
      margin: 0 16px;
      display: flex;
      flex-flow: row wrap-reverse;
      justify-content: space-between;
    }

    .demo {
      width: 760px;
    }

    .content {
      max-width: 380px;
    }

    @media screen and (min-width: 60em) {
      .md-sidebar--secondary {
        display: none;
      }
    }

    @media screen and (min-width: 76.25em) {
      .md-sidebar--primary {
        display: none;
      }
    }

  </style>

  <section class="container">
    <div class="md-grid md-typeset">
      <div class="overview">

        <div class="content">
          {{ page.content }}
          <a
            href="{{ page.next_page.url | url }}"
            title="{{ page.next_page.title | e }}"
            class="md-button md-button--primary"
          >
            Get Started
          </a>
        </div>

        <div class="demo">
          <script id="asciicast-348204" src="https://asciinema.org/a/348204.js"
            async data-autoplay="true" data-loop="true"
            data-cols="100" data-rows="30"></script>
        </div>

      </div>
    </div>
  </section>

{% endblock %}
